In [ ]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi', 'xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [ ]:
df['col2'].unique()

array([444, 555, 666])

In [ ]:
df['col2'].nunique()

3

In [ ]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [ ]:
#Select from DataFrame using criteria from multiple columns
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [ ]:
newdf

   col1  col2 col3
3     4   444  xyz

In [ ]:
df.sort_values(by='col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [ ]:
def kalidua(x):
  return x*2

In [ ]:
df['col1'].apply(kalidua)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [ ]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [ ]:
df['col2'].sum()

2109

In [ ]:
df['col3'].sum()

'abcdefghixyz'

In [ ]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [ ]:
df.drop('col1', axis=1)

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [ ]:
import numpy as np

In [ ]:
df = pd.read_csv('example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.to_csv('/content/drive/MyDrive/ABCD/DATA/diamonds.csv',index=False)

In [ ]:
df.head()

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/ABCD/DATA/excel.xlsx', sheet_name="Sheet1")

In [ ]:
df

In [ ]:
df = pd.read_html('https://id.wikipedia.org/wiki/Kabupaten_Karawang')

In [ ]:
df[2].head()

  Data iklim Karawang, Jawa Barat, Indonesia                            \
                                       Bulan          Jan          Feb
0                Rata-rata tertinggi °C (°F)  30.2 (86.4)  31.2 (88.2)
1                   Rata-rata harian °C (°F)  26.5 (79.7)  27.4 (81.3)
2                 Rata-rata terendah °C (°F)    22.8 (73)  23.7 (74.7)
3                      Presipitasi mm (inci)  345 (13.58)  312 (12.28)
4                       Rata-rata hari hujan           23           21

                                                                    \
           Mar          Apr          Mei          Jun          Jul
0      32 (90)    32.8 (91)  33.1 (91.6)  32.3 (90.1)    32.2 (90)
1  27.9 (82.2)  27.4 (81.3)  26.5 (79.7)  26.2 (79.2)    26.1 (79)
2  23.8 (74.8)      24 (75)  23.2 (73.8)    22.2 (72)  21.9 (71.4)
3   184 (7.24)   149 (5.87)    91 (3.58)     56 (2.2)    43 (1.69)
4           17           15            9            5            4

                                                                    \
           Agt          Sep          Okt          Nov          Des
0  32.7 (90.9)  33.3 (91.9)  34.3 (93.7)  32.7 (90.9)  31.2 (88.2)
1    27.2 (81)    27.8 (82)      28 (82)  27.4 (81.3)      27 (81)
2    22.8 (73)  23.5 (74.3)      24 (75)  23.8 (74.8)  23.2 (73.8)
3    29 (1.14)    46 (1.81)   100 (3.94)   144 (5.67)   203 (7.99)
4            2            4           10           14           18


           Tahun
0  32.33 (90.24)
1  27.12 (80.81)
2   23.24 (73.8)
3  1.702 (66,99)
4            142

In [ ]:
df[2].to_excel('/content/drive/MyDrive/ABCD/DATA/coba.xlsx', sheet_name="Sheet1")